/*============================================== Background =============================================*/
$background__color__primary: #FFFFFF;
$background__color__second: #FAFAFA;
$background__color__tertiairy: #901C1C;
$background__color__fourth: #DB8876;
$background__color__firth: transparent;

/*============================================== Text Color =============================================*/
$text__color__primary:#901C1C;
$text__color__second: #D3573C;
$text__color__third: #000000;
$text__color__four: #757575;
$text__color__five: #525252;
$text__color__six: #FFFFFF;