@import '../utils/functions';
@import '../utils/mixins';
@import '../utils/variables';

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photographer-item {
    display: block;
    text-decoration: none; }
  
  a {
    display: block;
    text-decoration: none; }
#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: none;
  }






